.navbar-header
	.navbar-brand
		font-size: 30px
		font-weight: 700
		color: white
		&:hover
			color: #eee
	button
		background-color: transparent
		border: transparent
#mainNav
	padding: 0% 13%
	background-color: #fff
	border: 2px solid transparent
h1
	color: #EC5132
span
	color: #EB735B
.nav
	li
		a
			color: #EB735B!important
			font-size: 15px
.collapse
	&.navbar-collapse
		li
			&:hover
				background-color: #14141f
				border-radius: 2px
.cont-mini
	margin-top: 108%
	margin-left: 73%
.cont-mini-1
	margin-top: 108%
	margin-left: -52%


.cont
	margin-top: 2%
footer
	background-color: #EC5132
section
	padding-left: 10%
	padding-right: 20%

.text-white
	color: #fff
.dere
	float: left

	

